* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(59, 66, 82, 0.8);
    border-bottom: 3px solid rgba(94, 129, 172, 0.5);
    color: #eceff4;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #eceff4;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #8fbcbb;
}

#workspaces button.focused {
    background-color: #4c566a;
    box-shadow: inset 0 -3px #8fbcbb;
}

#workspaces button.urgent {
    background-color: #bf616a;
}

#mode {
    background-color: #4c566a;
    border-bottom: 3px solid #88c0d0;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging {
    color: #a3be8c;
}

#battery.critical:not(.charging) {
    color: #bf616a;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #bf616a;
}

#idle_inhibitor.activated {
    color: #88c0d0;
}
