window {
    margin: 0px;
    border: 2px solid #3b4252;
    border-radius: 10px;
    font-family: monospace;
    font-size: 16px;
}
#input {
    margin: 15px;
    border: 1px solid #303030;
    border-radius: 10px;
}
#outer-box {
    margin: 5px;
    border: none;
    border-radius: 25px;
}
#inner-box {
    margin: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}
#scroll {
    margin: 0px;
    border: none;
}
#text {
    margin: 5px;
    border: none;
}
#entry {
    border: none;
}
#image {
    border: none;
    border-radius: 25px;
}
#entry:selected {
    font-weight: normal;
    border: none;
}
#text:selected {
    font-weight: bold;
}
list {
    border: none;
    border-radius: 10px;
}